.popup__heading {
  color: black;
  margin: 0;
  margin-bottom: 42px;
  margin-top: 40px;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5em;
  line-height: 29px;
}

@media screen and (max-width: 515px) {
  .popup__heading {
    width: 100%;
    font-size: 1.313em;
    margin-bottom: 30px;
  }
}
