{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": "off",
    "linebreak-style": "off",
    "no-console": "off",
    "object-curly-newline": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "max-len": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "plugins": [
    "react"
  ]
}