.header__auth-link {
  color: white;
  text-decoration: none;
  align-self: center;
  animation: fadeOut 1s;
}

.header__auth-link:hover {
  opacity: 0.6;
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .header__auth-link {
    margin-right: 27px;
  }
}

@media screen and (max-width: 500px) {
  .header__auth-link {
    margin-top: 33px;
    margin-bottom: 27px;
  }
}