@import url(./__logo/header__logo.css);
@import url(./__auth-link/header__auth-link.css);
@import url(./__email/header__email.css);
@import url(./__sign-out-button/header__sing-out-button.css);

.header {
  margin: auto;
  margin-bottom: 40px;
  max-width: 882px;
  border-bottom: 1px solid #545454;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .header {
    margin-bottom: 42px;
  }
}
