@import url(./__close-button/popup__close-button.css);
@import url(./__container/popup__container.css);
@import url(./__form/popup__form.css);
@import url(./__heading/popup__heading.css);
@import url(./__submit-button/popup__submit-button.css);
@import url(./__submit-button/_disabled/popup__submit-button_disabled.css);
@import url(./__input/popup__input.css);
@import url(./__input/_type_error/popup__input_type_error.css);
@import url(./__error/popup__error.css);
@import url(./__error/_visible/popup__error_visible.css);
@import url(./__caption/popup__caption.css);
@import url(./__image-container/popup__image-container.css);
@import url(./__image/popup__image.css);



.popup {
  width:100%;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 0;
  opacity: 0;
  transition: height 0ms 400ms, opacity 200ms 0ms;
}

.popup:hover {
  cursor: pointer;
}










